/* NAVBAR */
.nav-soft {
    background: #2b3a55;
}

.brand-glow {
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.nav-link {
    color: #e4e4e4 !important;
    font-weight: 500;
}
.nav-link:hover {
    color: #ffffff !important;
    text-shadow: 0 0 6px #fff;
}

/* TITULO */
.page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #2b3a55;
}

/* GRID */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}