<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Crear Paciente</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style-forms.css">

    <script type="module" src="../../js/api.js"></script>
    <script type="module" src="../../js/pacientes.js"></script>
</head>

<body>

    <h1 class="page-title">Registrar Paciente</h1>

    <div class="card-glass">

        <form id="formCrearPaciente">

            <label>Nombre:</label>
            <input class="form-control" type="text" id="nombre" required>

            <label>Apellido:</label>
            <input class="form-control" type="text" id="apellido" required>

            <label>Edad:</label>
            <input class="form-control" type="number" id="edad" required>

            <label>Teléfono:</label>
            <input class="form-control" type="text" id="telefono" required>

            <label>Correo:</label>
            <input class="form-control" type="email" id="correo" required>

            <label>Diagnóstico:</label>
            <textarea class="form-control" id="diagnostico" rows="4"></textarea>

            <button class="btn-main" type="submit">Guardar</button>
        </form>

        <a href="./lista.html">
            <button class="btn-back">Volver</button>
        </a>

    </div>

    <script src="../../js/bootstrap.bundle.min.js"></script>

</body>
</html>