<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>
    <script type="module" src="/js/api.js"></script>
    <script type="module" src="/js/pacientes.js"></script>
</head>

<body>
    <h1>Lista de Pacientes</h1>
    <a href="crear.html">Crear Paciente</a>

    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Teléfono</th>
                <th>Diagnóstico</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tablaPacientes"></tbody>
    </table>
</body>

</html>