<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enfermeros-Editar</title>
</head>

<body>
    <form id="formEditarEnfermero">
        <label>Nombre:</label>
        <input id="nombre" required>

        <label>Apellido:</label>
        <input id="apellido" required>

        <label>Teléfono:</label>
        <input id="telefono" required>

        <label>Correo:</label>
        <input id="correo" type="email" required>

        <button>Actualizar</button>
    </form>
    <a href="lista.html">Volver</a>
    
    <script type="module" src="/js/enfermeros.js"></script>
</body>

</html>