<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Enfermeros</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style-forms.css">
    <script type="module" src="../../js/enfermeros.js"></script>
</head>

<body>

    <h1 class="page-title">Lista de Enfermeros</h1>

    <div class="table-container">

        <a href="crear.html">
            <button class="btn-main" style="margin-bottom: 15px;">Crear Enfermero</button>
        </a>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody id="tablaEnfermeros"></tbody>

        </table>

    </div>
    <script src="../../js/bootstrap.min.js"></script>

</body>

</html>