<!DOCTYPE html>
<html lang="es">
<nav aria-label="breadcrumb" style="margin-bottom: 1rem;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../dashboard.html">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Enfermeros</li>
    </ol>
</nav>

<head>
    <meta charset="UTF-8">
    <title>Enfermeros</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style-forms.css">
    <script type="module" src="../../js/enfermeros.js"></script>
</head>

<body>

    <h1 class="page-title">Lista de Enfermeros</h1>

    <div class="table-container">

        <div style="text-align: right; margin-bottom: 15px;">
            <a href="crear.html">
                <button class="btn-main" style="max-width: 200px;">Registrar Enfermero</button>
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody id="tablaEnfermeros"></tbody>

        </table>

    </div>
    <script src="../../js/bootstrap.min.js"></script>

</body>

</html>