<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Camas</title>
    <script type="module" src="/js/api.js"></script>
    <script type="module" src="/js/camas.js"></script>
</head>

<body>

    <h1>Lista de Camas</h1>
    <a href="crear.html">Crear Cama</a>

    <table border="1" cellpadding="8">
        <thead>
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Número</th>
                <th>Habitación</th>
                <th>Paciente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tablaCamas"></tbody>
    </table>

</body>

</html>