<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/navbar.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm nav-soft">
        <div class="container-fluid">

            <a class="navbar-brand brand-glow" href="#">Hospital System</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="./camas/lista.html">Camas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./enfermeros/lista.html">Enfermeros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./habitaciones/lista.html">Habitaciones</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./pacientes/lista.html">Pacientes</a>
                    </li>

                    <li class="nav-item">
                        <button id="logoutBtn" class="btn btn-danger ms-3">Cerrar sesión</button>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- CONTENIDO -->
    <div class="container mt-5">
        <h1 class="text-center page-title mb-4">Panel General del Sistema</h1>

        <div class="dashboard-grid">

            <a href="./camas/lista.html" class="dash-card">
                <h2>Camas</h2>
                <p>Administrar camas disponibles</p>
            </a>

            <a href="./enfermeros/lista.html" class="dash-card">
                <h2>Enfermeros</h2>
                <p>Lista, edición y control</p>
            </a>

            <a href="./habitaciones/lista.html" class="dash-card">
                <h2>Habitaciones</h2>
                <p>Asignación y gestión completa</p>
            </a>

            <a href="./pacientes/lista.html" class="dash-card">
                <h2>Pacientes</h2>
                <p>Registro, consulta y expediente</p>
            </a>

        </div>
    </div>

    <script src="../../js/bootstrap.bundle.min.js"></script>

    <script type="module">
        import { protegerRuta, logout, aplicarVistaPorRol } from "../../js/auth.js";

        protegerRuta();
        aplicarVistaPorRol();
        document.getElementById("logoutBtn")?.addEventListener("click", logout);

        history.pushState(null, "", location.href);
        window.onpopstate = () => history.go(1);
    </script>


</body>

</html>