<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div id="navbar"></div>

    <!-- CONTENIDO -->
    <div class="container mt-5">
        <h1 class="text-center page-title mb-4">Panel General del Sistema</h1>

        <div class="dashboard-grid">

            <a href="./camas/lista.html" class="dash-card">
                <h2>Camas</h2>
                <p>Administrar camas disponibles</p>
            </a>

            <a href="./enfermeros/lista.html" class="dash-card">
                <h2>Enfermeros</h2>
                <p>Lista, edición y control</p>
            </a>

            <a href="./habitaciones/lista.html" class="dash-card">
                <h2>Habitaciones</h2>
                <p>Asignación y gestión completa</p>
            </a>

            <a href="./pacientes/lista.html" class="dash-card">
                <h2>Pacientes</h2>
                <p>Registro, consulta y expediente</p>
            </a>

        </div>
    </div>

    <script src="../../js/bootstrap.bundle.min.js"></script>

    <script type="module">
        import { protegerRuta, logout } from "../../js/auth.js";

        // Proteger ruta
        protegerRuta();

        // Cargar navbar
        fetch("/components/navbar.html")
            .then(res => res.text())
            .then(html => {
                document.getElementById("navbar").innerHTML = html;
                document.getElementById("logoutBtn")?.addEventListener("click", logout);
            });

        // Bloquear retroceso
        history.pushState(null, "", location.href);
        window.onpopstate = () => history.go(1);
    </script>


</body>

</html>