<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Editar Paciente</title>

    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/style-forms.css">
    <link rel="stylesheet" href="../../../css/navbar.css">

    <script type="module" src="../../../js/api.js"></script>
    <script type="module" src="../../../js/pacientes.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <div class="page-container">
        <div class="container mt-5">
            <h1 class="page-title">Editar Paciente</h1>
            <div class="card-glass">
                <form id="formEditarPaciente">

                    <label>Nombre:</label>
                    <input type="text" id="nombre" class="form-control" required>

                    <label>Apellido:</label>
                    <input type="text" id="apellido" class="form-control" required>

                    <label>Edad:</label>
                    <input type="number" id="edad" class="form-control" required>

                    <label>Teléfono:</label>
                    <input type="text" id="telefono" class="form-control" required>

                    <label>Correo:</label>
                    <input type="email" id="correo" class="form-control" required>

                    <label>Diagnóstico:</label>
                    <textarea id="diagnostico" rows="4" class="form-control"></textarea>

                    <button type="submit" class="btn-main">Actualizar</button>
                </form>

                <a href="./lista.html" class="link-back">Volver</a>
            </div>
        </div>
    </div>
    <script src="../../../js/bootstrap.bundle.min.js"></script>
    <script type="module">
        import { protegerRuta, logout } from "../../../js/auth.js";

        // Proteger ruta
        protegerRuta();

        // Cargar navbar
        fetch("/Client/components/navbar.html")
            .then(res => res.text())
            .then(html => {
                document.getElementById("navbar").innerHTML = html;

                // Conectar logout después de que se cargue el navbar
                document.getElementById("logoutBtn")?.addEventListener("click", logout);
            });

        // Bloquear retroceso
        history.pushState(null, "", location.href);
        window.onpopstate = () => history.go(1);
    </script>
</body>

</html>