<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Pacientes</title>

    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/style-forms.css">
    <link rel="stylesheet" href="../../../css/navbar.css">

    <script type="module" src="../../../js/api.js"></script>
    <script type="module" src="../../../js/pacientes.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm nav-soft">
        <div class="container-fluid">

            <a class="navbar-brand brand-glow" href="./dashboard.html">Hospital System</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="./camas/lista.html">Camas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./enfermeros/lista.html">Enfermeros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./habitaciones/lista.html">Habitaciones</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="./pacientes/lista.html">Pacientes</a>
                    </li>

                    <li class="nav-item">
                        <button id="logoutBtn" class="btn btn-danger ms-3">Cerrar sesión</button>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="page-container">
        <div class="container mt-5">
            <h1 class="page-title">Lista de Pacientes</h1>
            <div class="table-container">
                <div style="text-align: right; margin-bottom: 15px;">
                    <a href="crear.html">
                        <button class="btn-main" style="max-width: 200px;">Registrar Paciente</button>
                    </a>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Teléfono</th>
                            <th>Correo</th>
                            <th>Diagnóstico</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tablaPacientes"></tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../../../js/bootstrap.bundle.min.js"></script>
    <script type="module">
        import { protegerRuta, logout } from "../../../js/auth.js";
        protegerRuta();
        document.getElementById("logoutBtn")?.addEventListener("click", logout);
        history.pushState(null, "", location.href);
        window.onpopstate = () => history.go(1);
    </script>
</body>

</html>