<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones - Listado</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style-forms.css">

    <script type="module" src="../../js/habitaciones.js"></script>
</head>

<body>

    <h1 class="page-title">Habitaciones</h1>

    <div class="table-container">

        <div style="text-align: right; margin-bottom: 15px;">
            <a href="crear.html">
                <button class="btn-main" style="max-width: 200px;">Crear habitación</button>
            </a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Camas</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody id="tablaHabitaciones"></tbody>
        </table>

    </div>

    <script src="../../js/bootstrap.bundle.min.js"></script>

</body>
</html>