<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones-Listado</title>
</head>
<body>
   <h1>Habitaciones</h1>

    <a href="crear.html">Crear habitación</a>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Camas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tablaHabitaciones"></tbody>
    </table>

    <script type="module" src="/js/habitaciones.js"></script>
</body>
</html>