<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Habitación</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/style-forms.css">
    <link rel="stylesheet" href="../../../css/navbar.css">
    <script type="module" src="../../../js/habitaciones.js"></script>

</head>

<body>
    <div id="navbar"></div>

    <div class="page-container">
        <div class="container mt-5">
            <h1 class="page-title">Crear Habitación</h1>
            <div class="card-glass">
                <form id="formCrearHabitacion">
                    <label for="nombre">Nombre de la Habitación</label>
                    <input class="form-control mb-3" type="text" id="nombre" required>
                    <button class="btn-main" type="submit">Guardar</button>
                </form>
                <a href="./lista.html">
                    <button class="btn-back">Volver</button>
                </a>
            </div>
        </div>
    </div>
    <script type="module" src="../../../js/habitaciones.js"></script>
    <script src="../../../js/bootstrap.bundle.min.js"></script>
    <script type="module">
        import { protegerRuta, logout } from "../../../js/auth.js";

        // Proteger ruta
        protegerRuta();

        // Cargar navbar
        fetch("/Client/components/navbar.html")
            .then(res => res.text())
            .then(html => {
                document.getElementById("navbar").innerHTML = html;

                // Conectar logout después de que se cargue el navbar
                document.getElementById("logoutBtn")?.addEventListener("click", logout);
            });

        // Bloquear retroceso
        history.pushState(null, "", location.href);
        window.onpopstate = () => history.go(1);
    </script>
</body>

</html>