<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones - Listado</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/style-forms.css">
    <link rel="stylesheet" href="../../../css/navbar.css">

    <script type="module" src="../../../js/habitaciones.js"></script>
</head>

<body>
    <div id="navbar"></div>

    <div class="page-container">
        <div class="container mt-5">
            <h1 class="page-title">Habitaciones</h1>
            <div class="table-container">
                <div style="text-align: right; margin-bottom: 15px;">
                    <a href="crear.html">
                        <button class="btn-main" style="max-width: 200px;">Registrar Habitación</button>
                    </a>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody id="tablaHabitaciones"></tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../../../js/bootstrap.bundle.min.js"></script>
    <script type="module">
        import { protegerRuta, logout } from "../../../js/auth.js";

        // Proteger ruta
        protegerRuta();

        // Cargar navbar
        fetch("/Client/components/navbar.html")
            .then(res => res.text())
            .then(html => {
                document.getElementById("navbar").innerHTML = html;

                // Conectar logout después de que se cargue el navbar
                document.getElementById("logoutBtn")?.addEventListener("click", logout);
            });

        // Bloquear retroceso
        history.pushState(null, "", location.href);
        window.onpopstate = () => history.go(1);
    </script>
</body>

</html>