<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Asignación de Enfermeros a Camas</title>
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/style-forms.css">
    <link rel="stylesheet" href="../../../css/navbar.css">

    <script src="../../../js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../../../js/asignar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div id="navbar"></div>

    <div class="page-container">
        <div class="container mt-5 text-center">
            <h1>Asignación de Enfermeros a Camas</h1>
            <div class="table-container">
                <table class="table table-hover table-striped table-bordered shadow-sm">
                    <thead>
                        <tr>
                            <th>ID Cama</th>
                            <th>Número / Código</th>
                            <th>Enfermero Actual</th>
                            <th>Asignar Nuevo Enfermero</th>
                        </tr>
                    </thead>

                    <tbody id="tabla-asignaciones">
                        <!-- Se llena desde asignar.js -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="module">
        import { protegerRuta, logout } from "../../../js/auth.js";

        // Proteger ruta
        protegerRuta();

        // Cargar navbar
        fetch("/components/navbar.html")
            .then(res => res.text())
            .then(html => {
                document.getElementById("navbar").innerHTML = html;

                // Conectar logout después de que se cargue el navbar
                document.getElementById("logoutBtn")?.addEventListener("click", logout);
            });

        // Bloquear retroceso
        history.pushState(null, "", location.href);
        window.onpopstate = () => history.go(1);
    </script>
</body>

</html>